body{
    background-color: grey;
}

/************TimBernerLee************/
.contenueTimBernerLee{
    border-style: solid;
    margin: 380px;
    padding: 10px;
    margin-top: 2%;
    background-color: white;
}

.Tbl{
    font-family: 'Open Sans', sans-serif;
}

.tblImage{
    margin-left: 27%;
    border-radius: 190%;
    border-style: solid;
}

div h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

button{
    background-color: #d4243b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 30%;
    
}


/************Reseau sociaux************/
.contenueReseauSociaux{
    position: relative;
    border-style: solid;
    margin: 380px;
    padding: 15px;
    background-color: white;
    bottom: 310px;
}

nav a{
    position: relative;
    padding: 40px;
    left: 5%;
}





/************Favorite film************/
.contenueFavFilm{
    border-style: solid;
    position: absolute;
    margin: 220px;
    padding: 20px 20px;
    top: 120%;
    margin-top: 0;
    margin-left: 30%;
    background-color: white;
    width: 40%;
	text-align: center;
	margin-bottom: 30px;
}

h4{
    font-family: 'Open Sans', sans-serif;
}

.littleBoxFilm img{
    text-align: left;
	max-width: 20%;
	float: left;
	vertical-align: middle;
	padding:18px;
}


