body{
    background-color: grey;
}

/************TimBernerLee************/
.contenueTimBernerLee{
    border-style: solid;
    margin: 220px;
    padding: 10px;
    margin-top: 2%;
    background-color: white;
}

.Tbl{
    font-family: 'Open Sans', sans-serif;
}

.tblImage{
    margin-left: 35%;
    border-radius: 190%;
    border-style: solid;
}

div h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

button{
    background-color: #d4243b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 40%;
    
}


/************Reseau sociaux************/
.contenueReseauSociaux{
    position: relative;
    border-style: solid;
    margin: 220px;
    padding: 10px;
    background-color: white;
    bottom: 150px;
}

nav a{
    position: relative;
    padding: 40px;
    left: 20%;
}





/************Favorite film************/
.contenueFavFilm{
    border-style: solid;
    position: absolute;
    margin: 220px;
    padding: 10px;
    top: 120%;
    margin-top: 2%;
    background-color: white;
}

h4{
    font-family: 'Open Sans', sans-serif;
}



